<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>{"time":"%d{ISO8601}","level":"%level","corr":"%X{correlationId}","logger":"%logger{36}","msg":"%msg"}%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
